body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


:root {
  --greyLime: #E8E8E8;
  --grey: #BDBDBD;
  --greyDark: #7B7B7B;
  --greyDark2: #898989
  --black: #000;
}


@font-face {
  font-family: 'Pixelif'; /* nom que tu vas utiliser */
  src: url('../public/font/PixelifySans-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



body {
  background-color: #aaa; /* gris clair */
  background-image: url('../public/noise.svg');
  background-repeat: repeat;
}


/* linear-gradient(0, var(--black), #FFF),  */

h2 {
  margin: 0px;
}

span,h2,h1,h3,p,button{
  font-family: "Pixelif";
}


main{
  display: flex;
  flex-direction: row;
  justify-content: center;

  margin: 10% 10%;
  gap: 30px;

}

main > div:first-child {
  display: flex;
  flex-direction: column;

  justify-content: center;
  flex-grow: 1;

  height: 100%;

  gap: 25px;

}


.boxOut {
  background-color: var(--grey);

  border-top: 4px solid var(--greyLime);
  border-left: 4px solid var(--greyLime);

  box-shadow: inset -4px -4px var(--greyDark);

  padding: 24px;
}

.boxIn {
  background-color: var(--grey);

  border-top: 4px solid var(--greyDark);
  border-left: 4px solid var(--greyDark);

  box-shadow: inset -4px -4px var(--greyLime);

  padding: 24px;
}


/* temp */

/* .cell {
  width: 32px;
  height: 32px;
  background: linear-gradient(to bottom, #c0c0c0, #a0a0a0); 
  border-top: 2px solid #ffffff; 
  border-left: 2px solid #ffffff; 
  border-bottom: 2px solid #404040; 
  border-right: 2px solid #404040; 
  box-sizing: border-box;
} */